In [287]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

## Read in data by chunks

In [288]:
previous =  'https://storage.googleapis.com/home_credit_files/previous_application.csv'
train_main = 'https://storage.googleapis.com/home_credit_files/application_train.csv'
test_main =  'https://storage.googleapis.com/home_credit_files/application_test.csv'

chunk_size = 25000

# Initialize empty list to store chunks
chunks_train = []
chunks_test = []
chunks_previous = []

# Read train data in chunks
for train_chunk in pd.read_csv(train_main, index_col=False, chunksize=chunk_size, low_memory=False,nrows=100000):
    # Process train_chunk here (e.g., clean, transform, analyze)
    chunks_train.append(train_chunk)

# Concatenate train chunks to create final DataFrame
df_t = pd.concat(chunks_train, ignore_index=True)

# Read test data in chunks
for test_chunk in pd.read_csv(test_main, index_col=False, chunksize=chunk_size, low_memory=False):
    # Process test_chunk here (e.g., clean, transform, analyze)
    chunks_test.append(test_chunk)

# Concatenate test chunks to create final DataFrame
df_e = pd.concat(chunks_test, ignore_index=True)

# Read previous data in chunks
for prev_chunk in pd.read_csv(previous, index_col=False, chunksize=chunk_size, low_memory=False,nrows=100000):
    # Process prev_chunk here (e.g., clean, transform, analyze)
    chunks_previous.append(prev_chunk)

# Concatenate previous chunks to create final DataFrame
previous_app_df = pd.concat(chunks_previous, ignore_index=True)

## Reference Data Types

In [289]:
pd.set_option('display.max_rows', None)
data_types = df_t.dtypes
print(data_types)

SK_ID_CURR                        int64
TARGET                            int64
NAME_CONTRACT_TYPE               object
CODE_GENDER                      object
FLAG_OWN_CAR                       bool
FLAG_OWN_REALTY                    bool
CNT_CHILDREN                      int64
AMT_INCOME_TOTAL                float64
AMT_CREDIT                      float64
AMT_ANNUITY                     float64
AMT_GOODS_PRICE                 float64
NAME_TYPE_SUITE                  object
NAME_INCOME_TYPE                 object
NAME_EDUCATION_TYPE              object
NAME_FAMILY_STATUS               object
NAME_HOUSING_TYPE                object
REGION_POPULATION_RELATIVE      float64
DAYS_BIRTH                        int64
DAYS_EMPLOYED                     int64
DAYS_REGISTRATION                 int64
DAYS_ID_PUBLISH                   int64
OWN_CAR_AGE                     float64
FLAG_MOBIL                        int64
FLAG_EMP_PHONE                    int64
FLAG_WORK_PHONE                   int64
FLAG_CONT_MOBILE                  int64
FLAG_PHONE                        int64
FLAG_EMAIL                        int64
OCCUPATION_TYPE                  object
CNT_FAM_MEMBERS                 float64
REGION_RATING_CLIENT              int64
REGION_RATING_CLIENT_W_CITY       int64
WEEKDAY_APPR_PROCESS_START       object
HOUR_APPR_PROCESS_START           int64
REG_REGION_NOT_LIVE_REGION        int64
REG_REGION_NOT_WORK_REGION        int64
LIVE_REGION_NOT_WORK_REGION       int64
REG_CITY_NOT_LIVE_CITY            int64
REG_CITY_NOT_WORK_CITY            int64
LIVE_CITY_NOT_WORK_CITY           int64
ORGANIZATION_TYPE                object
EXT_SOURCE_1                    float64
EXT_SOURCE_2                    float64
EXT_SOURCE_3                    float64
APARTMENTS_AVG                  float64
BASEMENTAREA_AVG                float64
YEARS_BEGINEXPLUATATION_AVG     float64
YEARS_BUILD_AVG                 float64
COMMONAREA_AVG                  float64
ELEVATORS_AVG                   float64
ENTRANCES_AVG                   float64
FLOORSMAX_AVG                   float64
FLOORSMIN_AVG                   float64
LANDAREA_AVG                    float64
LIVINGAPARTMENTS_AVG            float64
LIVINGAREA_AVG                  float64
NONLIVINGAPARTMENTS_AVG         float64
NONLIVINGAREA_AVG               float64
APARTMENTS_MODE                 float64
BASEMENTAREA_MODE               float64
YEARS_BEGINEXPLUATATION_MODE    float64
YEARS_BUILD_MODE                float64
COMMONAREA_MODE                 float64
ELEVATORS_MODE                  float64
ENTRANCES_MODE                  float64
FLOORSMAX_MODE                  float64
FLOORSMIN_MODE                  float64
LANDAREA_MODE                   float64
LIVINGAPARTMENTS_MODE           float64
LIVINGAREA_MODE                 float64
NONLIVINGAPARTMENTS_MODE        float64
NONLIVINGAREA_MODE              float64
APARTMENTS_MEDI                 float64
BASEMENTAREA_MEDI               float64
YEARS_BEGINEXPLUATATION_MEDI    float64
YEARS_BUILD_MEDI                float64
COMMONAREA_MEDI                 float64
ELEVATORS_MEDI                  float64
ENTRANCES_MEDI                  float64
FLOORSMAX_MEDI                  float64
FLOORSMIN_MEDI                  float64
LANDAREA_MEDI                   float64
LIVINGAPARTMENTS_MEDI           float64
LIVINGAREA_MEDI                 float64
NONLIVINGAPARTMENTS_MEDI        float64
NONLIVINGAREA_MEDI              float64
FONDKAPREMONT_MODE               object
HOUSETYPE_MODE                   object
TOTALAREA_MODE                  float64
WALLSMATERIAL_MODE               object
EMERGENCYSTATE_MODE              object
OBS_30_CNT_SOCIAL_CIRCLE        float64
DEF_30_CNT_SOCIAL_CIRCLE        float64
OBS_60_CNT_SOCIAL_CIRCLE        float64
DEF_60_CNT_SOCIAL_CIRCLE        float64
DAYS_LAST_PHONE_CHANGE            int64
FLAG_DOCUMENT_2                   int64
FLAG_DOCUMENT_3                   int64
FLAG_DOCUMENT_4                   int64
FLAG_DOCUMENT_5                   int64
FLAG_DOCUMENT_6                   int64
FLAG_DOCUMENT_7                   int64
FLAG_DOCUMENT_8                   int64
FLAG_DOCUMENT_9                   int64
FLAG_DOCUMENT_10                  int64
FLAG_DOCUMENT_11                  int64
FLAG_DOCUMENT_12                  int64
FLAG_DOCUMENT_13                  int64
FLAG_DOCUMENT_14                  int64
FLAG_DOCUMENT_15                  int64
FLAG_DOCUMENT_16                  int64
FLAG_DOCUMENT_17                  int64
FLAG_DOCUMENT_18                  int64
FLAG_DOCUMENT_19                  int64
FLAG_DOCUMENT_20                  int64
FLAG_DOCUMENT_21                  int64
AMT_REQ_CREDIT_BUREAU_HOUR      float64
AMT_REQ_CREDIT_BUREAU_DAY       float64
AMT_REQ_CREDIT_BUREAU_WEEK      float64
AMT_REQ_CREDIT_BUREAU_MON       float64
AMT_REQ_CREDIT_BUREAU_QRT       float64
AMT_REQ_CREDIT_BUREAU_YEAR      float64
dtype: object

In [290]:
df_e.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Columns: 121 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(40), object(16)
memory usage: 45.0+ MB

* Comment out heatmap

In [291]:
# numeric_feats = df_t.dtypes[df_t.dtypes != "object"].index
# plt.figure(figsize=(80,18))
# sns.heatmap(df_t[numeric_feats].corr(), annot=False, square=True, cmap='coolwarm')
# plt.show()

## Correlations

In [292]:
# Filter out object type columns from the DataFrame
numeric_df = df_t.select_dtypes(include=['int64', 'float64'])

# Compute correlations with the TARGET column
correlations = numeric_df.corr()['TARGET'].sort_values(ascending=False)

# Select the top 30 positive correlations
top_positive_correlations = correlations.head(30)

# Select the top 30 negative correlations
top_negative_correlations = correlations.tail(30)

# Display the results
print("Top 30 positive correlations:")
print(top_positive_correlations)
print("\nTop 30 negative correlations:")
print(top_negative_correlations)

Top 30 positive correlations:
TARGET                         1.000000
DAYS_BIRTH                     0.085606
DAYS_LAST_PHONE_CHANGE         0.064829
REGION_RATING_CLIENT_W_CITY    0.061884
REGION_RATING_CLIENT           0.061581
FLAG_EMP_PHONE                 0.053128
DAYS_ID_PUBLISH                0.052184
REG_CITY_NOT_WORK_CITY         0.049873
REG_CITY_NOT_LIVE_CITY         0.049431
FLAG_DOCUMENT_3                0.046787
DAYS_REGISTRATION              0.044409
NONLIVINGAREA_MODE             0.039588
NONLIVINGAREA_MEDI             0.036809
NONLIVINGAREA_AVG              0.036423
DEF_30_CNT_SOCIAL_CIRCLE       0.034605
OWN_CAR_AGE                    0.032658
DEF_60_CNT_SOCIAL_CIRCLE       0.032143
FLAG_WORK_PHONE                0.026592
LIVE_CITY_NOT_WORK_CITY        0.025545
AMT_REQ_CREDIT_BUREAU_YEAR     0.024406
CNT_CHILDREN                   0.021518
FLAG_DOCUMENT_2                0.010917
CNT_FAM_MEMBERS                0.008742
REG_REGION_NOT_LIVE_REGION     0.008591
FLAG_CONT_MOBILE               0.006937
OBS_30_CNT_SOCIAL_CIRCLE       0.006895
OBS_60_CNT_SOCIAL_CIRCLE       0.006630
AMT_REQ_CREDIT_BUREAU_DAY      0.005932
FLAG_DOCUMENT_21               0.005679
REG_REGION_NOT_WORK_REGION     0.005005
Name: TARGET, dtype: float64

Top 30 negative correlations:
YEARS_BEGINEXPLUATATION_MODE   -0.041034
LIVINGAREA_MODE                -0.041630
LIVINGAREA_MEDI                -0.042012
ENTRANCES_MODE                 -0.042292
LIVINGAREA_AVG                 -0.042375
TOTALAREA_MODE                 -0.046666
DAYS_EMPLOYED                  -0.052090
LIVINGAPARTMENTS_MEDI          -0.058286
LIVINGAPARTMENTS_AVG           -0.058317
LIVINGAPARTMENTS_MODE          -0.063315
LANDAREA_MODE                  -0.064603
LANDAREA_MEDI                  -0.068675
LANDAREA_AVG                   -0.069266
EXT_SOURCE_1                   -0.158338
EXT_SOURCE_2                   -0.166679
COMMONAREA_MODE                -0.169898
COMMONAREA_AVG                 -0.172925
COMMONAREA_MEDI                -0.172927
EXT_SOURCE_3                   -0.189346
FLAG_MOBIL                           NaN
APARTMENTS_AVG                       NaN
FLOORSMIN_AVG                        NaN
NONLIVINGAPARTMENTS_AVG              NaN
APARTMENTS_MODE                      NaN
FLOORSMIN_MODE                       NaN
NONLIVINGAPARTMENTS_MODE             NaN
APARTMENTS_MEDI                      NaN
FLOORSMIN_MEDI                       NaN
NONLIVINGAPARTMENTS_MEDI             NaN
FLAG_DOCUMENT_12                     NaN
Name: TARGET, dtype: float64

In [293]:
df_t.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,278284,0,Cash loans,F,False,True,0,90000.0,360000.0,13059.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
1,278285,0,Cash loans,F,False,True,0,135000.0,728460.0,57685.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
2,278289,0,Revolving loans,M,False,True,0,225000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
3,278290,0,Cash loans,F,False,False,1,72000.0,675000.0,21775.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
4,278292,0,Cash loans,M,True,False,0,157500.0,545040.0,25407.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0

## Combine Train and Test

In [294]:
# Add a new column to indicate the source dataset
df_t['is_test'] = 0  # For train data, set to 0
df_e['is_test'] = 1   # For test data, set to 1

# Concatenate the train and test datasets
df_combined = pd.concat([df_t, df_e], ignore_index=True)

In [295]:
# # Read the data into a DataFrame
# # Categorize variables with fewer than 10 unique values and not already integers
# for col in df_combined.columns:
#     if df_combined[col].dtype != 'float64' and df_combined[col].nunique() < 10:
#         df_combined[col] = df_combined[col].astype('category')

In [296]:
# KYLES CODE FOR CATEGORIZING
for col in df_combined.columns:
    if df_combined[col].dtype == 'object' and df_combined[col].nunique() < 25:
        df_combined[col] = df_combined[col].astype('category')

In [297]:
#for col in df_combined.columns:
   # print(df_combined[col].dtype)

## Display numeric NA's

In [298]:
all_Xdata_na = (df_combined.isnull().sum() / len(df_combined)) * 100
all_Xdata_na = all_Xdata_na.drop(all_Xdata_na[all_Xdata_na == 0].index).sort_values(ascending=False)[:300]
missing_data = pd.DataFrame({'Missing Data Percent' :all_Xdata_na})

In [299]:
pd.set_option('display.max_rows', None)
missing_data

                              Missing Data Percent
COMMONAREA_MODE                          89.725972
COMMONAREA_MEDI                          89.725972
COMMONAREA_AVG                           89.725972
NONLIVINGAPARTMENTS_MEDI                 89.640591
NONLIVINGAPARTMENTS_AVG                  89.640591
NONLIVINGAPARTMENTS_MODE                 89.640591
LIVINGAPARTMENTS_AVG                     89.215699
LIVINGAPARTMENTS_MEDI                    89.215699
LIVINGAPARTMENTS_MODE                    89.215699
FONDKAPREMONT_MODE                       89.211666
FLOORSMIN_AVG                            89.056365
FLOORSMIN_MODE                           89.056365
FLOORSMIN_MEDI                           89.056365
YEARS_BUILD_MODE                         88.487603
YEARS_BUILD_AVG                          88.487603
YEARS_BUILD_MEDI                         88.487603
LANDAREA_MEDI                            85.927500
LANDAREA_AVG                             85.927500
LANDAREA_MODE                            85.927500
BASEMENTAREA_AVG                         85.466305
BASEMENTAREA_MEDI                        85.466305
BASEMENTAREA_MODE                        85.466305
NONLIVINGAREA_AVG                        84.340881
NONLIVINGAREA_MEDI                       84.340881
NONLIVINGAREA_MODE                       84.340881
ELEVATORS_AVG                            83.595977
ELEVATORS_MEDI                           83.595977
ELEVATORS_MODE                           83.595977
APARTMENTS_MEDI                          83.288738
APARTMENTS_AVG                           83.288738
APARTMENTS_MODE                          83.288738
WALLSMATERIAL_MODE                       82.061125
ENTRANCES_MODE                           81.806325
ENTRANCES_MEDI                           81.806325
ENTRANCES_AVG                            81.806325
HOUSETYPE_MODE                           81.780105
FLOORSMAX_MEDI                           81.516565
FLOORSMAX_AVG                            81.516565
FLOORSMAX_MODE                           81.516565
LIVINGAREA_MODE                          80.810655
LIVINGAREA_MEDI                          80.810655
LIVINGAREA_AVG                           80.810655
YEARS_BEGINEXPLUATATION_MEDI             79.910450
YEARS_BEGINEXPLUATATION_AVG              79.910450
YEARS_BEGINEXPLUATATION_MODE             79.910450
TOTALAREA_MODE                           79.346394
EMERGENCYSTATE_MODE                      77.987011
OWN_CAR_AGE                              65.117248
EXT_SOURCE_1                             53.032727
TARGET                                   32.770397
OCCUPATION_TYPE                          31.499758
EXT_SOURCE_3                             19.750040
AMT_REQ_CREDIT_BUREAU_YEAR               13.809633
AMT_REQ_CREDIT_BUREAU_QRT                13.809633
AMT_REQ_CREDIT_BUREAU_MON                13.809633
AMT_REQ_CREDIT_BUREAU_WEEK               13.809633
AMT_REQ_CREDIT_BUREAU_DAY                13.809633
AMT_REQ_CREDIT_BUREAU_HOUR               13.809633
NAME_TYPE_SUITE                           0.873985
DEF_60_CNT_SOCIAL_CIRCLE                  0.191604
DEF_30_CNT_SOCIAL_CIRCLE                  0.191604
OBS_60_CNT_SOCIAL_CIRCLE                  0.191604
OBS_30_CNT_SOCIAL_CIRCLE                  0.191604
EXT_SOURCE_2                              0.161351
AMT_GOODS_PRICE                           0.063196
AMT_ANNUITY                               0.019497
CNT_FAM_MEMBERS                           0.000672

## Missing Numeric data to convert to median

In [300]:
for col in df_combined.columns:
    # Check if the column is of float64 data type and has missing or NA values
    if df_combined[col].dtype == 'float64' and df_combined[col].isnull().any():
        # Calculate the median of the column
        median_value = df_combined[col].median()
        # Fill missing values with the median
        df_combined[col].fillna(median_value, inplace=True)

## What missing data remains?

In [301]:
columns_with_missing_data = df_combined.columns[df_combined.isnull().any()].tolist()

# Display the columns with missing data
print(columns_with_missing_data)

['NAME_TYPE_SUITE', 'OCCUPATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

## Object missing data

In [302]:
df_na_columns = df_combined[columns_with_missing_data]

# Show the head of the DataFrame
df_na_columns.head()

,NAME_TYPE_SUITE,OCCUPATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
0,Unaccompanied,NaN,NaN,NaN,NaN,NaN
1,Unaccompanied,Core staff,NaN,NaN,NaN,NaN
2,Unaccompanied,Drivers,NaN,NaN,NaN,NaN
3,Unaccompanied,Sales staff,NaN,NaN,NaN,NaN
4,Unaccompanied,NaN,NaN,NaN,NaN,NaN

In [303]:
pd.set_option('display.max_rows', None)
missing_percentages = (df_na_columns.isna().sum() / len(df_na_columns)) * 100
print(missing_percentages)

NAME_TYPE_SUITE         0.873985
OCCUPATION_TYPE        31.499758
FONDKAPREMONT_MODE     89.211666
HOUSETYPE_MODE         81.780105
WALLSMATERIAL_MODE     82.061125
EMERGENCYSTATE_MODE    77.987011
dtype: float64

In [304]:
for col in df_combined.columns:
    # Check if the column is of object data type and has missing or NA values
    if df_combined[col].dtype == 'object' and df_combined[col].isnull().any():
        # Calculate the mode of the column
        mode_values = df_combined[col].mode().iloc[0]
        # Fill missing values with the mode
        df_combined[col].fillna(mode_values, inplace=True)

## Categorical Data to be converted next. Take a look at any float or object data with less than 10 unique values and convert to category
* Except target
* Gender -> Category
* Name Contract type -> Category

### Convert Test back to it's own dataframe

In [305]:
df_e = df_combined[df_combined['is_test'] == 1]

# Remove the 'is_test' column from the combined DataFrame
df_combined.drop(columns=['is_test'], inplace=True)
df_e.drop(columns=['is_test'], inplace=True)

len(df_e)

C:\Users\kyle.anderson\AppData\Local\Temp\ipykernel_23612\802704241.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_e.drop(columns=['is_test'], inplace=True)

48744

In [306]:
df_t = df_combined.copy()

## Merged is Train and Application

In [307]:
# previous_app_df = pd.read_csv(f'previous_application.csv', index_col=False, low_memory=False)
original_id = df_e['SK_ID_CURR'].tolist()
previous_app_df.drop_duplicates(subset='SK_ID_CURR', inplace=True)

df_merged = pd.merge(df_t, previous_app_df, on="SK_ID_CURR", how="left")

# Drop previous DUPLICATES
df_e = pd.merge(df_e, previous_app_df, on="SK_ID_CURR", how="left")

In [308]:
#for col in df_merged.columns:
 #   if df_merged[col].dtype == 'object' and df_merged[col].nunique() < 25:
  #      df_merged[col] = df_merged[col].astype('category')

In [309]:
categorical_vars = df_merged.select_dtypes(include=['object','category']).columns.tolist()
test_categorical_vars = df_e.select_dtypes(include=['object','category']).columns.tolist()



# Perform one-hot encoding on the identified categorical variables
df_encoded = pd.get_dummies(df_merged, columns=categorical_vars)
df_e_encoded = pd.get_dummies(df_e, columns=test_categorical_vars)

# Optionally, if you want to limit one-hot encoding to specific columns, you can replace 'categorical_vars' with a subset of column names
# Example: df_encoded = pd.get_dummies(df, columns=['NAME_CONTRACT_TYPE_x', 'CODE_GENDER'])

# Check the shape of the original and encoded dataframe to understand the transformation
print("Original shape:", df_merged.shape)
print("Encoded shape:", df_encoded.shape)
print("Test Encoded shape:", df_e_encoded.shape)

# Display the first few rows of the encoded dataframe
#print(df_encoded.head())
#print(categorical_vars)

Original shape: (148744, 158)
Encoded shape: (148744, 410)
Test Encoded shape: (48744, 408)

## REMOVE NA's AGAIN FOR COMBINED DF

In [310]:
#CLEAN NEW COMBINED DF
all_Xdata_na = (df_encoded.isnull().sum() / len(df_combined)) #* 100
all_Xdata_na = all_Xdata_na.drop(all_Xdata_na[all_Xdata_na == 0].index).sort_values(ascending=False)[:300]
missing_data = pd.DataFrame({'Missing Data Percent' :all_Xdata_na})

all_test_na = (df_e_encoded.isnull().sum() / len(df_e)) #* 100
all_test_na = all_test_na.drop(all_test_na[all_test_na == 0].index).sort_values(ascending=False)[:300]
test_missing = pd.DataFrame({'Missing Data Percent' :all_test_na})

In [311]:
pd.set_option('display.max_rows', None)
missing_data

                           Missing Data Percent
RATE_INTEREST_PRIVILEGED               0.999086
RATE_INTEREST_PRIMARY                  0.999086
AMT_DOWN_PAYMENT                       0.880560
RATE_DOWN_PAYMENT                      0.880560
DAYS_TERMINATION                       0.851913
DAYS_LAST_DUE                          0.851913
DAYS_LAST_DUE_1ST_VERSION              0.851913
DAYS_FIRST_DUE                         0.851913
DAYS_FIRST_DRAWING                     0.851913
NFLAG_INSURED_ON_APPROVAL              0.851913
AMT_GOODS_PRICE_y                      0.817095
AMT_ANNUITY_y                          0.816120
CNT_PAYMENT                            0.816120
DAYS_DECISION                          0.770646
SELLERPLACE_AREA                       0.770646
NFLAG_LAST_APPL_IN_DAY                 0.770646
HOUR_APPR_PROCESS_START_y              0.770646
AMT_CREDIT_y                           0.770646
AMT_APPLICATION                        0.770646
SK_ID_PREV                             0.770646

In [312]:
pd.set_option('display.max_rows', None)
test_missing

                           Missing Data Percent
RATE_INTEREST_PRIVILEGED               0.998790
RATE_INTEREST_PRIMARY                  0.998790
AMT_DOWN_PAYMENT                       0.881011
RATE_DOWN_PAYMENT                      0.881011
DAYS_TERMINATION                       0.849212
DAYS_LAST_DUE                          0.849212
DAYS_LAST_DUE_1ST_VERSION              0.849212
DAYS_FIRST_DUE                         0.849212
DAYS_FIRST_DRAWING                     0.849212
NFLAG_INSURED_ON_APPROVAL              0.849212
AMT_ANNUITY_y                          0.810787
CNT_PAYMENT                            0.810787
AMT_GOODS_PRICE_y                      0.810520
DAYS_DECISION                          0.756093
SELLERPLACE_AREA                       0.756093
NFLAG_LAST_APPL_IN_DAY                 0.756093
HOUR_APPR_PROCESS_START_y              0.756093
AMT_CREDIT_y                           0.756093
AMT_APPLICATION                        0.756093
SK_ID_PREV                             0.756093

In [313]:
for col in df_encoded.columns:
    # Check if the column is of float64 data type and has missing or NA values
    if df_encoded[col].dtype == 'float64' and df_encoded[col].isnull().any():
        # Calculate the median of the column
        median_value = df_encoded[col].median()
        # Fill missing values with the median
        df_encoded[col].fillna(median_value, inplace=True)

# Test
for col in df_e_encoded.columns:
    # Check if the column is of float64 data type and has missing or NA values
    if df_e_encoded[col].dtype == 'float64' and df_e_encoded[col].isnull().any():
        # Calculate the median of the column
        median_value = df_e_encoded[col].median()
        # Fill missing values with the median
        df_e_encoded[col].fillna(median_value, inplace=True) 
        
df_e_encoded.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,PRODUCT_COMBINATION_Cash X-Sell: low,PRODUCT_COMBINATION_Cash X-Sell: middle,PRODUCT_COMBINATION_POS household with interest,PRODUCT_COMBINATION_POS household without interest,PRODUCT_COMBINATION_POS industry with interest,PRODUCT_COMBINATION_POS industry without interest,PRODUCT_COMBINATION_POS mobile with interest,PRODUCT_COMBINATION_POS mobile without interest,PRODUCT_COMBINATION_POS other with interest,PRODUCT_COMBINATION_POS others without interest
0,100001,0.0,0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241,-2329,...,False,False,False,False,False,False,False,False,False,False
1,100005,0.0,0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064,-4469,...,False,False,False,False,False,False,False,False,False,False
2,100013,0.0,0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038,-4458,...,False,False,False,False,False,False,True,False,False,False
3,100028,0.0,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976,-1866,...,False,False,False,False,False,False,False,False,False,False
4,100038,0.0,1,180000.0,625500.0,32067.0,625500.0,0.010032,-13040,-2191,...,False,False,False,False,False,False,False,False,False,False

In [314]:
pd.set_option('display.max_rows', None)
df_encoded.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT_x,AMT_ANNUITY_x,AMT_GOODS_PRICE_x,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,PRODUCT_COMBINATION_Cash X-Sell: low,PRODUCT_COMBINATION_Cash X-Sell: middle,PRODUCT_COMBINATION_POS household with interest,PRODUCT_COMBINATION_POS household without interest,PRODUCT_COMBINATION_POS industry with interest,PRODUCT_COMBINATION_POS industry without interest,PRODUCT_COMBINATION_POS mobile with interest,PRODUCT_COMBINATION_POS mobile without interest,PRODUCT_COMBINATION_POS other with interest,PRODUCT_COMBINATION_POS others without interest
0,278284,0.0,0,90000.0,360000.0,13059.0,360000.0,0.014520,-21950,365243,...,False,False,False,False,False,False,False,False,False,False
1,278285,0.0,0,135000.0,728460.0,57685.5,675000.0,0.015221,-15645,-8615,...,False,False,False,False,False,False,False,False,False,False
2,278289,0.0,0,225000.0,180000.0,9000.0,180000.0,0.025164,-11926,-1049,...,False,False,False,False,False,False,False,False,False,False
3,278290,0.0,1,72000.0,675000.0,21775.5,675000.0,0.019101,-15597,-795,...,False,False,False,False,False,False,False,False,False,False
4,278292,0.0,0,157500.0,545040.0,25407.0,450000.0,0.006629,-13220,-1769,...,False,False,False,False,False,False,False,False,False,False

## Downsample

In [315]:
from sklearn.utils import resample

# Assuming df_combined is your combined DataFrame with 'TARGET' column and 'is_test' column

# Separate majority and minority classes
majority_class = df_encoded[df_encoded['TARGET'] == 0]
minority_class = df_encoded[df_encoded['TARGET'] == 1]

# Downsample majority class
desired_ratio = 0.8  # Desired ratio for majority to minority class
downsampled_majority = resample(majority_class, 
                                replace=False,  # Sample without replacement to avoid duplication
                                n_samples=int(len(minority_class) / desired_ratio),  # Downsample to match desired ratio
                                random_state=113)  # Set random state for reproducibility

# Combine minority class with downsampled majority class
df_downsampled = pd.concat([downsampled_majority, minority_class])

# Shuffle the DataFrame to mix up the order of the rows
df_downsampled = df_downsampled.sample(frac=1, random_state=113).reset_index(drop=True)

## Remove excess columns

In [316]:

columns_merged = df_downsampled.columns
columns_e = df_e_encoded.columns

# Find the columns that are in df_merged but not in df_e
columns_diff_merged = set(columns_merged) - set(columns_e)

# Find the columns that are in df_e but not in df_merged
columns_diff_e = set(columns_e) - set(columns_merged)

# Print the different columns
print("Columns in df_merged but not in df_e:", columns_diff_merged)
print("Columns in df_e but not in df_merged:", columns_diff_e)

df_downsampled.drop(columns=['NAME_GOODS_CATEGORY_Weapon','NAME_GOODS_CATEGORY_Additional Service'], inplace=True)

Columns in df_merged but not in df_e: {'NAME_GOODS_CATEGORY_Weapon', 'NAME_GOODS_CATEGORY_Additional Service'}
Columns in df_e but not in df_merged: set()

## Modeling

### Data Partition

In [317]:
from sklearn.model_selection import train_test_split

# Define your features (X) and target variable (y) based on your EDA
X_train = df_downsampled.drop(columns=['TARGET'])
y_train = df_downsampled['TARGET']

df_e_encoded.drop(columns=['TARGET'], inplace=True)

X_test = df_e_encoded
y_test = None  # You don't have the ground truth labels for the test set


# Check the shape of the resulting sets
print("Training set shape:", X_train.shape, y_train.shape)

Training set shape: (20619, 407) (20619,)

### Random Forest

## Train metrics before test!

In [318]:
from sklearn.model_selection import train_test_split

# Define your features (X) and target variable (y) based on your EDA
X = df_downsampled.drop(columns=['TARGET'])
y = df_downsampled['TARGET']

# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Check the shape of the resulting sets
print("Training set shape:", X_train.shape, y_train.shape)
print("Validation set shape:", X_val.shape, y_val.shape)



# from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, recall_score, f1_score, roc_auc_score



random_forest = RandomForestClassifier(
    n_estimators=500,  # Number of trees in the forest
    max_depth=60,      # Maximum depth of the trees
    min_samples_split=5,  # Minimum number of samples required to split a node
    min_samples_leaf=2,   # Minimum number of samples required at each leaf node
    random_state=144     # Random seed for reproducibility
)




# Initialize models
# logistic_regression = LogisticRegression(random_state=42, max_iter=1000)
random_forest = RandomForestClassifier(random_state=42)
gradient_boosting = GradientBoostingClassifier(random_state=42)




# Fit models
# logistic_regression.fit(X_train, y_train)
random_forest.fit(X_train, y_train)
gradient_boosting.fit(X_train, y_train)

# Make predictions
# y_pred_lr = logistic_regression.predict(X_val)
y_pred_rf = random_forest.predict(X_val)
y_pred_gb = gradient_boosting.predict(X_val)

# Calculate evaluation metrics
metrics_lr = [accuracy_score, recall_score, f1_score, roc_auc_score]
metrics_rf_gb = [accuracy_score, recall_score, f1_score]

results = {}

# Logistic Regression Metrics
# results['Logistic Regression'] = {metric.__name__: metric(y_val, y_pred_lr) for metric in metrics_lr}

# Random Forest Metrics
results['Random Forest'] = {metric.__name__: metric(y_val, y_pred_rf) for metric in metrics_rf_gb}

# Gradient Boosting Metrics
results['Gradient Boosting'] = {metric.__name__: metric(y_val, y_pred_gb) for metric in metrics_rf_gb}

# Print results
for model, metrics in results.items():
    print(f"{model} Metrics:")
    for metric, value in metrics.items():
        print(f"{metric}: {value}")
    print()

Training set shape: (16495, 407) (16495,)
Validation set shape: (4124, 407) (4124,)
Random Forest Metrics:
accuracy_score: 0.7315712900096993
recall_score: 0.7384196185286104
f1_score: 0.7099816609903065

Gradient Boosting Metrics:
accuracy_score: 0.7444228903976722
recall_score: 0.7482288828337874
f1_score: 0.7226315789473683

# This is the real code for test csv

In [159]:
# from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier

# Initialize models
# logistic_regression = LogisticRegression(random_state=42, max_iter=1000)


random_forest = RandomForestClassifier(
    n_estimators=800,  # Number of trees in the forest
    max_depth=60,      # Maximum depth of the trees
    min_samples_split=2,  # Minimum number of samples required to split a node
    min_samples_leaf=1,   # Minimum number of samples required at each leaf node
    random_state=144     # Random seed for reproducibility
)

gradient_boosting = GradientBoostingClassifier(random_state=42)

# Fit models
# logistic_regression.fit(X_train, y_train)
random_forest.fit(X_train, y_train)
gradient_boosting.fit(X_train, y_train)

# Make predictions
# y_pred_lr = logistic_regression.predict(X_val)
y_pred_rf = random_forest.predict(X_test)
y_pred_gb = gradient_boosting.predict(X_test)

# Calculate evaluation metrics
metrics_lr = [accuracy_score, recall_score, f1_score, roc_auc_score]
metrics_rf_gb = [accuracy_score, recall_score, f1_score]

results = {}

# Logistic Regression Metrics
# results['Logistic Regression'] = {metric.__name__: metric(y_val, y_pred_lr) for metric in metrics_lr}

# Random Forest Metrics
results['Random Forest'] = {metric.__name__: metric(y_test, y_pred_rf) for metric in metrics_rf_gb}

# # Gradient Boosting Metrics
# results['Gradient Boosting'] = {metric.__name__: metric(y_test, y_pred_gb) for metric in metrics_rf_gb}

InvalidParameterError: The 'y_true' parameter of accuracy_score must be an array-like or a sparse matrix. Got None instead.

In [ ]:
# from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, recall_score, f1_score, roc_auc_score

# Initialize models
# logistic_regression = LogisticRegression(random_state=42, max_iter=1000)
random_forest = RandomForestClassifier(random_state=42)
gradient_boosting = GradientBoostingClassifier(random_state=42)

# Fit models
# logistic_regression.fit(X_train, y_train)
random_forest.fit(X_train, y_train)
gradient_boosting.fit(X_train, y_train)

# Make predictions
# y_pred_lr = logistic_regression.predict(X_val)
y_pred_rf = random_forest.predict(df_e)
y_pred_gb = gradient_boosting.predict(df_e)

# Calculate evaluation metrics
metrics_lr = [accuracy_score, recall_score, f1_score, roc_auc_score]
metrics_rf_gb = [accuracy_score, recall_score, f1_score]

results = {}

# Logistic Regression Metrics
# results['Logistic Regression'] = {metric.__name__: metric(y_val, y_pred_lr) for metric in metrics_lr}

# Random Forest Metrics
results['Random Forest'] = {metric.__name__: metric(y_val, y_pred_rf) for metric in metrics_rf_gb}

# Gradient Boosting Metrics
results['Gradient Boosting'] = {metric.__name__: metric(y_val, y_pred_gb) for metric in metrics_rf_gb}

# Print results
for model, metrics in results.items():
    print(f"{model} Metrics:")
    for metric, value in metrics.items():
        print(f"{metric}: {value}")
    print()

### Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, recall_score, f1_score, roc_auc_score

# Drop the 'NAME_CONTRACT_TYPE' column from both X_train and X_val
#X_train.drop(columns=['ORGANIZATION_TYPE'], inplace=True, errors='ignore')  
#X_train.drop(columns=['NAME_CASH_LOAN_PURPOSE'], inplace=True, errors='ignore') 
#X_train.drop(columns=['NAME_GOODS_CATEGORY'], inplace=True, errors='ignore') 
#X_val.drop(columns=['ORGANIZATION_TYPE'], inplace=True, errors='ignore')  
#X_val.drop(columns=['NAME_CASH_LOAN_PURPOSE'], inplace=True, errors='ignore')  
#X_val.drop(columns=['NAME_GOODS_CATEGORY'], inplace=True, errors='ignore') 
# Initialize logistic regression model
model = LogisticRegression(random_state=42, max_iter=1000)

# Fit the model on training data
model.fit(X_train, y_train)

# Make predictions on validation set
y_pred = model.predict(X_val)
y_proba = model.predict_proba(X_val)[:, 1]

# Calculate evaluation metrics
accuracy = accuracy_score(y_val, y_pred)
recall = recall_score(y_val, y_pred)
f1 = f1_score(y_val, y_pred)
roc_auc = roc_auc_score(y_val, y_proba)

# Print the evaluation metrics
print("Performance Metrics:")
print("Accuracy:", accuracy)
print("Recall:", recall)
print("F1-score:", f1)
print("AUC-ROC Score:", roc_auc)